<nav class="flex justify-center bg-customOrange-200">
  <div class="flex flex-row divide-dark-600 divide-x my-spaceUltraSmaller">
<login-app-button [design]="'tertiary'"
                  [text]="'WHEY PROTEIN'"
                  [isBackgroundTransparent]="true"
                  [isIconLeft]="true">
</login-app-button>
<login-app-button [design]="'tertiary'"
                  [text]="'CREATINA'"
                  [isBackgroundTransparent]="true"
                  [isIconLeft]="true">
</login-app-button>
<login-app-button [design]="'tertiary'"
                  [text]="'ALBUMINA'"
                  [isBackgroundTransparent]="true"
                  [isIconLeft]="true">
</login-app-button>
<login-app-button [design]="'tertiary'"
                  [text]="'PRÉ-TREINO'"
                  [isBackgroundTransparent]="true"
                  [isIconLeft]="true">
</login-app-button>
<login-app-button [design]="'tertiary'"
                  [text]="'ROUPAS'"
                  [isBackgroundTransparent]="true"
                  [isIconLeft]="true">
</login-app-button>
  </div>
</nav>
