<dialog class="w-[31rem] h-[36rem] rounded-md bg-cinzaTwitch-900 backdrop-opacity-30" #dialog>
  <div class="modal-content bg-cinzaTwitch-900 w-full h-full p-5">
    <h4 class="flex justify-center text-brancoTwitch-500 text-3xl font-bold font-loginSans">Junte-se hoje à Twitch</h4>
    <form class="pt-4">
      <div>
        <div>
          <label class="text-brancoTwitch-500 font-bold" for="usuario">Usuário</label>
        </div>
        <div class="pt-1">
          <input class="w-full pl-2 rounded bg-cinzaTwitch-900 text-brancoTwitch-500 border border-cinzaTwitch-200
                 hover:shadow-lHover focus:shadow-lBorder focus:border-lBlue-100 focus:outline-none"
                 type="text" id="usuario" name="usuario" required>
        </div>
      </div>
      <div class="pt-4">
        <div>
          <label class="text-brancoTwitch-500 font-bold" for="senha">Senha</label>
        </div>
        <div class="mt-1">
          <input class="w-full pl-2 rounded bg-cinzaTwitch-900 text-brancoTwitch-500 border border-cinzaTwitch-200
                 hover:shadow-lHover focus:shadow-lBorder focus:border-lBlue-100 focus:outline-none"
                 type="password" id="senha" name="senha" required>
        </div>
      </div>
      <div class="pt-4">
        <div>
          <label class="text-brancoTwitch-500 font-bold" for="senhaconf">Confirmação de senha</label>
        </div>
        <div class="mt-1">
          <input class="w-full pl-2 rounded bg-cinzaTwitch-900 text-brancoTwitch-500 border border-cinzaTwitch-200
                 hover:shadow-lHover focus:shadow-lBorder focus:border-lBlue-100 focus:outline-none"
                 type="password" id="senhaconf" name="senha" required>
        </div>
      </div>
      <div class="pt-4">
        <label class="text-brancoTwitch-500 font-bold">Data de Nascimento</label>
        <div class="flex justify-between mt-1">
          <input class="w-1/5 py-1 pl-2 rounded bg-cinzaTwitch-900 text-brancoTwitch-500 border border-cinzaTwitch-200
                 placeholder:text-sm placeholder:text-gray-400 hover:shadow-lHover focus:shadow-lBorder focus:border-lBlue-100 focus:outline-none"
                 type="number" id="dia" placeholder="Dia" required>
          <select id="mes" name="mes" class="w-2/5 text-sm pl-2 rounded bg-cinzaTwitch-900 text-brancoTwitch-500 border border-cinzaTwitch-200
                                               hover:shadow-lHover focus:shadow-lBorder focus:border-lBlue-100 focus:outline-none"
                  required>
            <option value="" disabled selected> Mês</option>
            <option *ngFor="let mes of meses" [value]="mes">{{ mes }}</option>
          </select>
          <input class="w-1/5 py-1 pl-2 rounded bg-cinzaTwitch-900 text-brancoTwitch-500 border border-cinzaTwitch-200
                          placeholder:text-sm placeholder:text-gray-400 hover:shadow-lHover focus:shadow-lBorder focus:border-lBlue-100 focus:outline-none"
                 type="number" id="ano" placeholder="Ano" required>
        </div>
      </div>
      <div class="py-4">
        <div>
          <label class="text-brancoTwitch-500 font-bold" for="email">E-mail</label>
        </div>
        <div class="pt-1">
          <input class="w-full pl-2 rounded bg-cinzaTwitch-900 text-brancoTwitch-500 border border-cinzaTwitch-200
                 hover:shadow-lHover focus:shadow-lBorder focus:border-lBlue-100 focus:outline-none"
                 type="email" id="email" name="email" required>
        </div>
      </div>
      <login-app-button [type]="'primary'" [text]="'Registrar-se'"></login-app-button>
    </form>
  </div>
</dialog>

<button class="text-brancoTwitch-500" (click)="dialog.showModal()">Open modal</button>
