<div class="flex flex-col p-biggest bg-lGrey-900 gap-y-spaceBig justify-center">
  <div class="flex flex-row justify-center">
    <span class="font-loginSans font-bold text-lWhite-300 text-3xl">
      Register
    </span>
    <div class="absolute end-2 top-2 cursor-pointer hover:bg-lBlack-700 rounded">
      <app-icon type="closeX"
                svgClass="w-lIconLarger h-lIconLarger"
                (click)="closeRegisterForm()">
      </app-icon>
    </div>
  </div>
  <form class="flex flex-col gap-y-spaceBig"
        (ngSubmit)="onSubmit()"
        (keydown.enter)="onSubmit()">
    <login-app-input-field id="username"
                           name="username"
                           label="Username"
                           type="text"
                           [minLength]="4"
                           [isErrorMessageVisible]="!isValidUsername"
                           [(value)]="registerFormData.username">
    </login-app-input-field>
    <login-app-input-field class="form-control"
                           id="password"
                           name="password"
                           label="Password"
                           type="text"
                           [minLength]="8"
                           [isErrorMessageVisible]="!isValidPassword"
                           [(value)]="registerFormData.password"
                           (valueChange)="validatePasswordAndConfirmPass()">
    </login-app-input-field>
    <login-app-input-field id="confirmPassword"
                           name="confirmPassword"
                           label="Password Confirmation"
                           type="text"
                           [minLength]="8"
                           [isErrorMessageVisible]="!isValidConfirmPassword"
                           [(value)]="registerFormData.confirmPassword"
                           (valueChange)="validatePasswordAndConfirmPass()">
    </login-app-input-field>
    <div class="flex flex-row gap-x-spaceBig items-center">
      <login-app-input-field id="day"
                             name="day"
                             type="number"
                             placeHolder="Day"
                             [maxLength]="2"
                             [isErrorMessageVisible]="!isValidDay"
                             [(value)]="registerFormData.day">
      </login-app-input-field>

      <login-app-dropdown [options]="months"
                          (selectedOptionChange)="registerFormData.month = $event">
      </login-app-dropdown>

      <login-app-input-field id="year"
                             name="year"
                             type="number"
                             placeHolder="Year"
                             [maxLength]="4"
                             [isErrorMessageVisible]="!isValidYear"
                             [(value)]="registerFormData.year">
      </login-app-input-field>
    </div>
    <login-app-input-field id="email"
                           name="email"
                           label="E-mail"
                           type="email"
                           [isErrorMessageVisible]="!isValidEmail"
                           [(value)]="registerFormData.email">
    </login-app-input-field>
  </form>
  <div class="mt-spaceBig">
    <login-app-button (clicked)="onSubmit()"
                      [design]="'secondary'"
                      [text]="'Register'">
    </login-app-button>
  </div>
</div>
