<div class="flex items-center bg-transparent"
     cdkOverlayOrigin #trigger="cdkOverlayOrigin"
     (click)="toggleOptionsVisibility()"
     (clickOutside)="reset()">
  <div class="relative">
    <input [value]="selectedOption"
           [placeholder]="placeholder"
           readonly
           id="sourceElementWidth"
           class="flex w-full items-center rounded border border-lGrey-200 bg-lGrey-900
           p-spaceSmaller text-lWhite-200 hover:shadow-lHover focus:border-lGreen-400 focus:shadow-lBorder focus:outline-none
           cursor-pointer"
    />
    <app-icon svgClass="cursor-pointer absolute end-spaceSmaller top-spaceSmall w-spaceBig h-spaceBig text-lGreen-400"
              type="arrow-down">
    </app-icon>
  </div>
  <ng-template cdkConnectedOverlay
               [cdkConnectedOverlayOrigin]="trigger"
               [cdkConnectedOverlayOpen]="isVisible">
    <div class="flex flex-col rounded border border-lGrey-200 bg-lGrey-900 text-lWhite-200 w-80"
         syncWidth
         [sourceElementId]="'sourceElementWidth'">
      <ng-container *ngFor="let option of options">
        <span class="flex px-spaceSmall cursor-pointer text-default text-lWhite-200 hover:bg-blue-700"
              (click)="updateSelectedOption(option)">
          {{ option }}
        </span>
      </ng-container>
    </div>
  </ng-template>
</div>
<div *ngIf="isErrorMessageVisible">
  <span class="absolute whitespace-normal font-bold text-red-600">Field {{ fieldName }} invalid</span>
</div>
