<div class="flex flex-col w-full h-full p-spaceBiggest bg-lGrey-900 gap-y-spaceBig shadow-innerDefault">
  <div class="flex flex-row justify-center">
    <span class="font-loginSans font-bold text-lWhite-300 text-3xl">Entrar no site</span>
    <div class="absolute end-spaceSmaller top-spaceSmaller cursor-pointer hover:bg-lBlack-700 rounded">
      <app-icon type="closeX"
                svgClass="w-spaceBig h-spaceBig"
                (click)="this.modalService.closeModal()">
      </app-icon>
    </div>
  </div>
  <form class="flex flex-col gap-y-spaceBig"
        [formGroup]="loginForm"
        (ngSubmit)="onSubmit()"
        (keydown.enter)="onSubmit()">
    <login-app-input-field id="username"
                           fieldName="username"
                           label="Username"
                           type="text"
                           [isErrorMessageVisible]="!isValidUsername"
                           [(value)]="loginForm.value.username">
    </login-app-input-field>
    <login-app-input-field id="password"
                           fieldName="password"
                           label="Password"
                           type="password"
                           [isErrorMessageVisible]="!isValidPassword"
                           [(value)]="loginForm.value.password">
    </login-app-input-field>
  </form>
  <div class="flex flex-col gap-y-spaceBig mt-spaceBig">
    <login-app-button (clicked)="onSubmit()"
                      [design]="'secondary'"
                      [text]="'Entrar'">
    </login-app-button>
    <login-app-button [design]="'primary'"
                      [text]="'Ainda não possui uma conta? Cadastre-se'"
                      [textSize]="'text-sm'"
                      [isBackgroundTransparent]="true"
                      (clicked)="closeLoginAndOpenRegister()">
    </login-app-button>
  </div>
</div>
