<div class="flex items-center">
  <button (click)="onClicked($event)"
          [disabled]="isDisabled"
          class="flex flex-row place-content-center items-center w-full py-xSmall px-small gap-x-spaceSmall rounded hover:bg-lBlue-300 active:bg-lBlue-900"
          [ngClass]="{'cursor-not-allowed disabled': isDisabled,
                      'bg-lBlue-800': isPrimary,
                      'bg-lGreen-400': isSecondary,
                      'bg-lWhite-200': isTertiary}">
    <div *ngIf="icon && isIconLeft"
         [ngClass]="{'text-lBlue-800': isPrimary,
                     'text-lGreen-400': isSecondary,
                     'text-lWhite-200': isTertiary}">
      <app-icon [type]="icon"
                [svgClass]="'text-white h-lIconDefault w-lIconDefault'">
      </app-icon>
    </div>
    <div *ngIf="text"
         [ngClass]="{'text-white font-bold': isPrimary,
                     'text-lBlue-800 font-semiBold': isSecondary,
                     'text-lBlue-800 font-bold': isTertiary}">
      <span class="font-loginSans">{{ text }}</span>
    </div>
    <div *ngIf="icon && isIconRight"
         [ngClass]="{'text-lBlue-800': isPrimary,
                     'text-lGreen-400': isSecondary,
                     'text-lWhite-200': isTertiary}">
      <app-icon [type]="icon"
                [svgClass]="'h-lIconDefault w-lIconDefault'">
      </app-icon>
    </div>
  </button>
</div>
