<div class="flex items-center">
  <button (click)="onClicked($event)"
          [disabled]="isDisabled"
          [type]="type"
          class="flex flex-row place-content-center items-center w-full py-spaceXSmall px-spaceSmall gap-x-spaceSmaller rounded active:bg-lBlue-900"
          [ngClass]="{'cursor-not-allowed disabled:text-lWhite-200 disabled:bg-lBlack-700': isDisabled,
                       'bg-lBlue-800 hover:bg-lBlue-600': isPrimary,
                       'bg-lGreen-400 hover:bg-lGreen-500': isSecondary,
                       'bg-lWhite-200 hover:bg-lWhite-400': isTertiary,
                       'bg-transparent hover:bg-lGrey-200': isBackgroundTransparent}">
    <div *ngIf="icon && isIconLeft"
         [ngClass]="{'text-lWhite-200': isPrimary,
                     'text-lBlue-800': isSecondary || isTertiary}">
      <app-icon [svgClass]="'h-spaceDefault w-spaceDefault'"
                [type]="icon">
      </app-icon>
    </div>
    <div *ngIf="text"
         [ngClass]="{'text-white font-bold': isPrimary,
                     'text-lBlue-800 font-semiBold': isSecondary,
                     'text-lBlue-800 font-bold': isTertiary}">
      <span class="font-loginSans {{ textSize }}">{{ text }}</span>
    </div>
    <div *ngIf="icon && isIconRight"
        [ngClass]="{'text-lWhite-200': isPrimary,
                    'text-lBlue-800': isSecondary || isTertiary}">
      <app-icon [svgClass]="'h-spaceDefault w-spaceDefault'"
                [type]="icon">
      </app-icon>
    </div>
  </button>
</div>
